# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite build output
dist/

# Local env files
.env
.env.*.local

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Optional: if using WebStorm
*.iml
out/

# Optional: Mac system files
*.swp
